data/wiki-pages/
data/wiki-pages-split/
data/fever-data/
data/wiki-pages.zip
__pycache__
temp.txt
temp.tsv
testSet_rte.jsonl
fever-baselines/data/
fever-baselines/glove.6B.zip
list_of_Wikipedia_files.txt
.idea/
rte/entailment_predictions/
rte/entailment_predictions_test/*
rte/entailment_predictions_train/*
*/claim_*
